aniso8601==8.0.0
bcrypt==3.2.0
cffi==1.14.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-Excel==0.0.7
Flask-JWT-Extended==3.25.0
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
lml==0.1.0
MarkupSafe==1.1.1
mongoengine==0.21.0
numpy==1.19.3
openpyxl==3.0.5
pandas==1.1.5
pycparser==2.20
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
PyJWT==1.7.1
pymongo==3.11.1
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
texttable==1.6.3
Werkzeug==1.0.1
WTForms==2.3.3
